name = "hajr-donacija"
compatibility_date = "2024-03-19"
main = "workers-site/index.js"

[build]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "20"

[site]
bucket = "dist" 